### VARIABLES   
(...)

### LISTAS Y TUPLAS

In [2]:
# 1 Haz una lista llamada colores donde almacenemos los primeros 6 colores que te vengan a la mente.
colores = ['azul', 'verde', 'amarillo', 'negro', 'violeta', 'blanco']
# 2. Haz una lista llamada buses de las líneas de autobuses que pasan por tu casa.
buses = ['H10', 'V27', '47']
# 3. Apunta la previsión de temperaturas máximas para todos los días de esta semana en temperaturas.
temperaturas = [28, 28, 30, 29, 29, 30, 31]

In [6]:
# 4. Convierte tu(s) nombre(s) a una lista nombres de caracteres.
nombre = 'Ana María'
lista_nombre = list(nombre)
print(lista_nombre)
# 5. Convierte tu(s) apellido(s) a una lista apellidos de caracteres.
apellidos = 'Robles García'
lista_apellidos = list(apellidos)
print(lista_apellidos)

['A', 'n', 'a', ' ', 'M', 'a', 'r', 'í', 'a']
['R', 'o', 'b', 'l', 'e', 's', ' ', 'G', 'a', 'r', 'c', 'í', 'a']

In [5]:
# 6. ¿Cuántos búses pasan por tu casa?
len(buses)

3

In [7]:
# 7. ¿Cuántos caracteres hay en tu apellido(s) (inluyendo los espacios)?
len(lista_apellidos)

13

In [9]:
# 8. ¿Cuáles son las temperaturas máximas (t_max) y mínimas (t_min) para esta semana?
t_max = max(temperaturas)
t_min = min(temperaturas)
print(f'Temperaturas: \n Máxima: {t_max} \n Mínima: {t_min}')

Temperaturas:
 Máxima: 31
 Mínima: 28

In [12]:
# 9. Hay una 'e' en tu nombre?
print('Hay "e" en mi nombre:', 'e' in lista_nombre)
# 10. Tienes el color 'rosa' en la lista de colores?
print('Está el color ROSA en la lista:', 'rosa' in colores)
# 11. ¿Tiene una 'x' tu nombre? (Usa not in)
print('No hay "x" en mi nombre:', 'x' not in lista_nombre)

Hay "e" en mi nombre: False
Está el color ROSA en la lista: False
No hay "x" en mi nombre: True

In [13]:
# 12. Copia el contenido de temperaturas a temperaturas2, y temperaturas3.
temperaturas2 = temperaturas.copy()
temperaturas3 = temperaturas.copy()

In [16]:
# 13. Vacía el contenido de la variable temperaturas2
temperaturas2.clear()
# 14. Imprime el contenido de temperaturas y temperaturas2.
print(temperaturas)
print(temperaturas2)

[28, 28, 30, 29, 29, 30, 31]
[]

In [17]:
# 15. Copia el contenido de nombres a nombres2.
nombres2 = lista_nombre.copy()
# 16. Copia el contenido de apellidos a apellidos2.
apellidos2 = lista_apellidos.copy()

In [21]:
# 17. Ordena la variable temperaturas3 de mayor a menor.
temperaturas3.sort(reverse = True)
temperaturas3

[31, 30, 30, 29, 29, 28, 28]

In [24]:
# 18. Ordena los caracteres de tu nombre y tu apellido en las listas nombres2 y apellidos2. 
# Imprime el resultado y investiga: ¿qué orden ha cogido? ¿Cómo trata las mayúsculas?
nombres2.sort()
apellidos2.sort()
print(nombres2, '--> orden alfabético, SÍ distingue entre M de m')
print(apellidos2)
print('--> orden alfabético, SÍ distingue entre M de m')

[' ', 'A', 'M', 'a', 'a', 'a', 'n', 'r', 'í'] --> orden alfabético, SÍ distingue entre M de m
[' ', 'G', 'R', 'a', 'a', 'b', 'c', 'e', 'l', 'o', 'r', 's', 'í']
--> orden alfabético, SÍ distingue entre M de m

In [ ]:
# 19. ¿Cuántas 'a' tiene tu nombre? ¿Y cuántas 'o'?
num_a_nombre = nombres2.count('a') + nombres2.count('A')
num_o_nombre = nombres2.count('o') + nombres2.count('O')
print(f'Num "a" : {num_a_nombre}. \nNum "o" : {num_o_nombre}. ')

Num "a" : 4.
Num "o" : 0.

In [29]:
# 20. Verifica si los resultados de ejercicio 19 son iguales para la lista nombres2.
num_a_nombre_lista = lista_nombre.count('a') + lista_nombre.count('A')
num_o_nombre_lista = lista_nombre.count('o') + lista_nombre.count('O')
print(num_a_nombre == num_a_nombre_lista)
print(num_o_nombre == num_o_nombre_lista)

True
True

In [30]:
# 21. ¿Cuántas veces esta semana llega la temperatura a la t_max? ¿Y cuántas a la t_min?
veces_tmax = temperaturas.count(t_max)
veces_tmin = temperaturas.count(t_min)
print(f'T máxima: {veces_tmax} veces. \nT mínima: {veces_tmin} veces.')

T máxima: 1 veces.
T mínima: 2 veces.

In [31]:
# 22. La lista dias_en contiene 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', y 'sunday'.
dias_en = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
# 23
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                        12, 11, 13, 17, 18, 15, 
                        15, 17, 17, 13, 13, 11,
                        12, 10, 12, 14, 12, 12,
                        11, 12, 16, 16, 14, 17, 18]

In [ ]:
# 24. ¿Cuál es el penúltimo día de la semana?
dias_en[5] # ó [-2]

'saturday'

In [33]:
# 25. ¿Cuál es el último elemento de la lista de temperaturas de diciembre?
temperaturas_diciembre[-1]

18

In [34]:
# 26. ¿Está 'friday' en la lista de días en inglés? Si está, ¿dónde?
print('friday' in dias_en)
print(dias_en.index('friday'))

True
4

In [35]:
# 27. ¿Cuál era la temperatura máxima en diciembre?
max(temperaturas_diciembre)

18

In [36]:
# 28. Encuentra el índice de 'miércoles' en dias_es.
dias_en.index('wednesday')

2

In [46]:
# 29. Imprime esta frase en pantalla: DE LA SEMANA QUE DEFINIMOS AL PPIO
# 'La temperatura máxima esta semana será 14 ºC, que ocurrirá en 1 días(s). El día más frío tendrá una temperatura máxima de 10 ºC, que ocurrirá en 2 día(s).'
print(f'La temperatura máxima esta semana será {t_max}, la tendremos {temperaturas.count(t_max)} días(s).')
print(f'El día más frío tendrá una temperatura máxima de {t_min}, la tendremos {temperaturas.count(t_min)} día(s).')

La temperatura máxima esta semana será 31, la tendremos 1 días(s).
El día más frío tendrá una temperatura máxima de 28, la tendremos 2 día(s).

1. Duplicar elementos de una lista
- Descripción: Dada una lista de números, duplica cada elemento en la lista. (output esperado: [2, 4, 6, 8, 2, 4, 6, 8])

In [48]:
lista = [2, 4, 6, 8]
lista_duplicada = lista + lista
lista_duplicada

[2, 4, 6, 8, 2, 4, 6, 8]

2. Combinar dos listas
- Descripción: Dadas dos listas, crea una nueva lista que contenga todos los elementos de ambas listas.

In [49]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista_total = lista1 + lista2
lista_total

[1, 2, 3, 4, 5, 6]

3. Calcular la suma de una lista de números

In [50]:
suma = sum(lista_total)
suma

21

8. Obtener una sublista de una lista
- Descripción: Dada una lista, crea una nueva lista que contenga los elementos desde el índice 2 hasta el índice 5 (sin incluirlo).

In [51]:
sub = lista_total [2:5]
sub

[3, 4, 5]

12. Reemplazar un elemento en una lista
- Descripción: Dada una lista, reemplaza el segundo elemento con un nuevo valor.

In [52]:
sub[1] = 8
sub

[3, 8, 5]

13. Obtener una lista inversa
- Descripción: Dada una lista, obtén una nueva lista que contenga los elementos en orden inverso.

In [57]:
sub_reversed = sorted(sub)
sub_reversed

[3, 5, 8]

14. Ordenar una lista en orden ascendente
- Descripción: Dada una lista de números, ordénala en orden ascendente.

In [59]:
lista_duplicada.sort()
lista_duplicada

[2, 2, 4, 4, 6, 6, 8, 8]

15. Obtener elementos pares de una lista
- Descripción: Dada una lista, obtén una nueva lista que contenga solo los elementos en posiciones pares.  (lenguaje humano; índices de la lista, no los valores)

In [60]:
lista_pares = lista_duplicada[1: :2]
lista_pares

[2, 4, 6, 8]

16. Obtener una sublista saltando elementos
- Descripción: Dada una lista, obtén una sublista que contenga los elementos saltando de 3 en 3.