## INDICE
- [Variables](#variables)
- [Listas](#listas)
- [Tuplas](#tuplas)  
[Función ZIP](#funcion-zip)
- [Diccionarios](#diccionarios)

## VARIABLES

## LISTAS

In [16]:
# 1 Haz una lista llamada colores donde almacenemos los primeros 6 colores que te vengan a la mente.
colores = ['azul', 'verde', 'amarillo', 'negro', 'violeta', 'blanco']
# 2. Haz una lista llamada buses de las líneas de autobuses que pasan por tu casa.
buses = ['H10', 'V27', '47']
# 3. Apunta la previsión de temperaturas máximas para todos los días de esta semana en temperaturas.
temperaturas = [28, 28, 30, 29, 29, 30, 31]

In [17]:
# 4. Convierte tu(s) nombre(s) a una lista nombres de caracteres.
nombre = 'Ana María'
lista_nombre = list(nombre)
print(lista_nombre)
# 5. Convierte tu(s) apellido(s) a una lista apellidos de caracteres.
apellidos = 'Robles García'
lista_apellidos = list(apellidos)
print(lista_apellidos)

['A', 'n', 'a', ' ', 'M', 'a', 'r', 'í', 'a']
['R', 'o', 'b', 'l', 'e', 's', ' ', 'G', 'a', 'r', 'c', 'í', 'a']

In [18]:
# 6. ¿Cuántos búses pasan por tu casa?
len(buses)

3

In [19]:
# 7. ¿Cuántos caracteres hay en tu apellido(s) (inluyendo los espacios)?
len(lista_apellidos)

13

In [20]:
# 8. ¿Cuáles son las temperaturas máximas (t_max) y mínimas (t_min) para esta semana?
t_max = max(temperaturas)
t_min = min(temperaturas)
print(f'Temperaturas: \n Máxima: {t_max} \n Mínima: {t_min}')

Temperaturas:
 Máxima: 31
 Mínima: 28

In [21]:
# 9. Hay una 'e' en tu nombre?
print('Hay "e" en mi nombre:', 'e' in lista_nombre)
# 10. Tienes el color 'rosa' en la lista de colores?
print('Está el color ROSA en la lista:', 'rosa' in colores)
# 11. ¿Tiene una 'x' tu nombre? (Usa not in)
print('No hay "x" en mi nombre:', 'x' not in lista_nombre)

Hay "e" en mi nombre: False
Está el color ROSA en la lista: False
No hay "x" en mi nombre: True

In [22]:
# 12. Copia el contenido de temperaturas a temperaturas2, y temperaturas3.
temperaturas2 = temperaturas.copy()
temperaturas3 = temperaturas.copy()

In [23]:
# 13. Vacía el contenido de la variable temperaturas2
temperaturas2.clear()
# 14. Imprime el contenido de temperaturas y temperaturas2.
print(temperaturas)
print(temperaturas2)

[28, 28, 30, 29, 29, 30, 31]
[]

In [24]:
# 15. Copia el contenido de nombres a nombres2.
nombres2 = lista_nombre.copy()
# 16. Copia el contenido de apellidos a apellidos2.
apellidos2 = lista_apellidos.copy()

In [25]:
# 17. Ordena la variable temperaturas3 de mayor a menor.
temperaturas3.sort(reverse = True)
temperaturas3

[31, 30, 30, 29, 29, 28, 28]

In [26]:
# 18. Ordena los caracteres de tu nombre y tu apellido en las listas nombres2 y apellidos2. 
# Imprime el resultado y investiga: ¿qué orden ha cogido? ¿Cómo trata las mayúsculas?
nombres2.sort()
apellidos2.sort()
print(nombres2, '--> orden alfabético, SÍ distingue entre M de m')
print(apellidos2)
print('--> orden alfabético, SÍ distingue entre M de m')

[' ', 'A', 'M', 'a', 'a', 'a', 'n', 'r', 'í'] --> orden alfabético, SÍ distingue entre M de m
[' ', 'G', 'R', 'a', 'a', 'b', 'c', 'e', 'l', 'o', 'r', 's', 'í']
--> orden alfabético, SÍ distingue entre M de m

In [27]:
# 19. ¿Cuántas 'a' tiene tu nombre? ¿Y cuántas 'o'?
num_a_nombre = nombres2.count('a') + nombres2.count('A')
num_o_nombre = nombres2.count('o') + nombres2.count('O')
print(f'Num "a" : {num_a_nombre}. \nNum "o" : {num_o_nombre}. ')

Num "a" : 4.
Num "o" : 0.

In [28]:
# 20. Verifica si los resultados de ejercicio 19 son iguales para la lista nombres2.
num_a_nombre_lista = lista_nombre.count('a') + lista_nombre.count('A')
num_o_nombre_lista = lista_nombre.count('o') + lista_nombre.count('O')
print(num_a_nombre == num_a_nombre_lista)
print(num_o_nombre == num_o_nombre_lista)

True
True

In [29]:
# 21. ¿Cuántas veces esta semana llega la temperatura a la t_max? ¿Y cuántas a la t_min?
veces_tmax = temperaturas.count(t_max)
veces_tmin = temperaturas.count(t_min)
print(f'T máxima: {veces_tmax} veces. \nT mínima: {veces_tmin} veces.')

T máxima: 1 veces.
T mínima: 2 veces.

In [30]:
# 22. La lista dias_en contiene 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', y 'sunday'.
dias_en = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
# 23
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                        12, 11, 13, 17, 18, 15, 
                        15, 17, 17, 13, 13, 11,
                        12, 10, 12, 14, 12, 12,
                        11, 12, 16, 16, 14, 17, 18]

In [31]:
# 24. ¿Cuál es el penúltimo día de la semana?
dias_en[5] # ó [-2]

'saturday'

In [32]:
# 25. ¿Cuál es el último elemento de la lista de temperaturas de diciembre?
temperaturas_diciembre[-1]

18

In [33]:
# 26. ¿Está 'friday' en la lista de días en inglés? Si está, ¿dónde?
print('friday' in dias_en)
print(dias_en.index('friday'))

True
4

In [34]:
# 27. ¿Cuál era la temperatura máxima en diciembre?
max(temperaturas_diciembre)

18

In [35]:
# 28. Encuentra el índice de 'miércoles' en dias_es.
dias_en.index('wednesday')

2

In [36]:
# 29. Imprime esta frase en pantalla: DE LA SEMANA QUE DEFINIMOS AL PPIO
# 'La temperatura máxima esta semana será 14 ºC, que ocurrirá en 1 días(s). El día más frío tendrá una temperatura máxima de 10 ºC, que ocurrirá en 2 día(s).'
print(f'La temperatura máxima esta semana será {t_max}, la tendremos {temperaturas.count(t_max)} días(s).')
print(f'El día más frío tendrá una temperatura máxima de {t_min}, la tendremos {temperaturas.count(t_min)} día(s).')

La temperatura máxima esta semana será 31, la tendremos 1 días(s).
El día más frío tendrá una temperatura máxima de 28, la tendremos 2 día(s).

1. Duplicar elementos de una lista
- Descripción: Dada una lista de números, duplica cada elemento en la lista. (output esperado: [2, 4, 6, 8, 2, 4, 6, 8])

In [37]:
lista = [2, 4, 6, 8]
lista_duplicada = lista + lista
lista_duplicada

[2, 4, 6, 8, 2, 4, 6, 8]

2. Combinar dos listas
- Descripción: Dadas dos listas, crea una nueva lista que contenga todos los elementos de ambas listas.

In [38]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista_total = lista1 + lista2
lista_total

[1, 2, 3, 4, 5, 6]

3. Calcular la suma de una lista de números

In [39]:
suma = sum(lista_total)
suma

21

8. Obtener una sublista de una lista
- Descripción: Dada una lista, crea una nueva lista que contenga los elementos desde el índice 2 hasta el índice 5 (sin incluirlo).

In [40]:
sub = lista_total [2:5]
sub

[3, 4, 5]

12. Reemplazar un elemento en una lista
- Descripción: Dada una lista, reemplaza el segundo elemento con un nuevo valor.

In [41]:
sub[1] = 8
sub

[3, 8, 5]

13. Obtener una lista inversa
- Descripción: Dada una lista, obtén una nueva lista que contenga los elementos en orden inverso.

In [42]:
sub_reversed = sorted(sub)
sub_reversed

[3, 5, 8]

14. Ordenar una lista en orden ascendente
- Descripción: Dada una lista de números, ordénala en orden ascendente.

In [43]:
lista_duplicada.sort()
lista_duplicada

[2, 2, 4, 4, 6, 6, 8, 8]

15. Obtener elementos pares de una lista
- Descripción: Dada una lista, obtén una nueva lista que contenga solo los elementos en posiciones pares.  (lenguaje humano; índices de la lista, no los valores)

In [44]:
lista_pares = lista_duplicada[1: :2]
lista_pares

[2, 4, 6, 8]

16. Obtener una sublista saltando elementos
- Descripción: Dada una lista, obtén una sublista que contenga los elementos saltando de 3 en 3.

In [45]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
lista_ej16 = lista[: :3]
lista_ej16

[2, 8, 14, 20]

17. Encontrar el segundo valor máximo en una lista
- Descripción: Dada una lista de números, encuentra el segundo valor máximo.  
No funcionaría con listas con valores repetidos: bucle for (más tarde)

In [46]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
v_max = max(lista) # --> 20
index_v_max = lista.index(v_max) # --> 9
lista.pop(9)
v_max2 = max(lista)
print(f'El 2o mayor valor es: {v_max2}.')

El 2o mayor valor es: 18.

In [ ]:
nlista = lista.pop(2)
nlista # --> 6, no la lista sin el 20

6

In [ ]:
# Solución ejercicios resueltos: 
lista_ejr = [7, 2, 9, 1, 5]
maximo = max(lista_ejr)
lista_ejr.remove(maximo) # elimina la 1a a aparición de ese elemento
segundo_maximo = max(lista_ejr)
print(segundo_maximo)

7

19. Agregar elementos a una lista utilizando append y extend
- Descripción: Dada una lista inicial, agrega nuevos elementos utilizando tanto `append` como `extend` y observa las diferencias en el resultado final. 
- El elemento que deberéis usar para añadir a la lista original tiene que ser una lista.

In [ ]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
otra = [1,2,3]

In [ ]:
lista_app = lista.copy()
lista_ext = lista.copy()

# append()
lista_app.append(otra)

# extend()
lista_ext.extend(otra)

print(f'Con append: {lista_app}. --> mete la lista entera como un elemento \nCon extend: {lista_ext}.')

Con append: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, [1, 2, 3]]. --> mete la lista entera como un elemento
Con extend: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 1, 2, 3].

20. Insertar un elemento en una posición específica
- Descripción: Dada una lista, inserta un nuevo elemento en una posición específica determinada por el usuario  
(debereis usar la función input para preguntar al usuario en que posición quiere insertar el elemento).

In [ ]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# elemento = int(input("Ingrese el elemento a añadir: "))
# posicion = int(input("Ingrese la posición de inserción: "))

# lista.insert(posicion, elemento)
# print(lista)

[2, 4, 5, 6, 8, 10, 12, 14, 16, 18, 20]

21. Verificar si un elemento está presente en una lista
- Descripción: Dada una lista, verifica si un elemento específico está presente en ella.  
Igual que el caso anterior, debereis preguntar al usuario que elemento quiere buscar en la lista. El resultado deberá ser True o False.

In [ ]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# elemento = int(input("Ingrese el elemento: "))

# existencia_elemento = elemento in lista
# print(f'El elemento introducido se encuentra en la lista: {existencia_elemento}.')

El elemento introducido se encuentra en la lista: False.

22. Manipulación de una lista utilizando remove(), pop() y clear()
- Descripción: Crea una lista inicial, realiza operaciones de eliminación y limpieza utilizando los métodos:  
`remove()`, `pop()` y `clear()`, y observa cómo afectan a la lista.

In [ ]:
lista_22 = [2, 4, 6, 8, 10, 10, 12, 14, 16, 18, 20]

In [ ]:
lista_22.remove(10) # quita la 1a aparición de ese elemento
lista_22

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
lista_22.pop(3) # --> resultado sale: 8
lista_22

[2, 4, 6, 12, 14, 16, 18, 20]

In [ ]:
lista_22.clear()
lista_22

[]

## TUPLAS

Objetos NO MUTABLES, ordenados (se puede indexar), HETEROGÉNEOS

In [ ]:
# 1. Crea una tupla `persona1` para juntar los siguientes datos: 61 kg, 1.54 m altura, pelo marrón, sin usar paréntesis. 
# (Serán del tipo `int`, `float` y `str`.)
persona1 = 61, 1.54, "pelo marron"
persona1

(61, 1.54, 'pelo marron')

In [ ]:
# 2. Crea una tupla para la `persona2` de 68 kg, 1.65 m y pelo rubio, usando paréntesis
persona2 = (68, 1.65, "pelo rubio")
persona2

(68, 1.65, 'pelo rubio')

In [ ]:
#  3. Crea una lista `talla` que recompila 'M', 42, y 39.
talla = ["M", 42, 39]
talla

['M', 42, 39]

In [ ]:
# 4. Convierte la lista `talla` a una tupla.
talla = tuple(talla)
talla

('M', 42, 39)

In [ ]:
# 5. Une a la tupla de `persona1` los datos en `talla`.
lista_pt = persona1 + talla # te lo añade independiente
lista_pt_tuplas = persona1, talla
print(lista_pt, '--> "+": elementos independientes')
print(lista_pt_tuplas, '--> ",": conjunto de grupos')

(61, 1.54, 'pelo marron', 'M', 42, 39) --> "+": elementos independientes
((61, 1.54, 'pelo marron'), ('M', 42, 39)) --> ",": conjunto de grupos

In [ ]:
# 6. Saca de `persona2` el contenido del tercer elemento y llámalo `color`.
color = persona2[2]
color

'pelo rubio'

In [ ]:
# 7. ¿Cuántos elementos hay ahora en `persona2`? (Es decir, ¿cuál es su longitud?)
len(persona2)

3

--> DESEMBALAMOS tuplas:

In [56]:
# 8. Crea las variables `peso`, `altura`, `color`, `camiseta`, `pantalon`, y `zapatos` 
# llénalas con el contenido de `persona1`. Imprime `camiseta` para comprobar el resultado.
print(persona1)
peso, altura, color_pelo = persona1
print('peso:', peso)
print('altura:', altura)
print('color_pelo:', color_pelo)

(61, 1.54, 'pelo marron')
peso: 61
altura: 1.54
color_pelo: pelo marron

In [57]:
# 11. Crea una tupla `etiquetas` con `'peso'`, `'altura'`, y `'color'`.
etiquetas = peso, altura, color_pelo
etiquetas

(61, 1.54, 'pelo marron')

### Funcion ZIP

In [52]:
# 9. Crea el zip `personas` con `persona1` y `persona2`.    --> crea PAREJAS
personas = list(zip(persona1, persona2))
print(persona1)
print(persona2)
print('...................')
print(personas)

(61, 1.54, 'pelo marron')
(68, 1.65, 'pelo rubio')
...................
[(61, 68), (1.54, 1.65), ('pelo marron', 'pelo rubio')]

In [ ]:
# 10. ¿Cuántas "elementos" tiene `personas`? ¿Por qué? --> lista de 3 tuplas
len(personas)

3

In [59]:
# 12. Crea al zip de `etiquetas`, `persona1`, y `persona2`.    --> crea PAREJAS
todo = list(zip(etiquetas, persona1, persona2))
todo

[(61, 61, 68),
 (1.54, 1.54, 1.65),
 ('pelo marron', 'pelo marron', 'pelo rubio')]



1. Ejercicio: Acceder al primer elemento de una tupla
   - Descripción: Dada una tupla, obtén el primer elemento.

In [ ]:
tupla = (10, 20, 30)
primer_elemento = tupla[0]
print(primer_elemento)

10


2. Ejercicio: Acceder al último elemento de una tupla
   - Descripción: Dada una tupla, obtén el último elemento.

In [ ]:
tupla = ("Manzana", "Banana", "Cereza")
ultimo_elemento = tupla[-1]
print(ultimo_elemento)

Cereza


3. Ejercicio: Obtener la longitud de una tupla
   - Descripción: Dada una tupla, obtén la cantidad de elementos que contiene.

In [ ]:
tupla = (1, 2, 3, 4, 5)
longitud = len(tupla)
print(longitud)

5


5. Ejercicio: Encontrar el índice de un elemento en una tupla
   - Descripción: Dada una tupla y un valor objetivo, encuentra el índice del primer elemento que coincida con el valor objetivo.

In [ ]:
tupla = (10, 20, 30, 40, 50)
objetivo = 30
indice = tupla.index(objetivo)
print(indice)

2

6. Ejercicio: Contar ocurrencias de un elemento en una tupla
   - Descripción: Dada una tupla y un valor objetivo, cuenta cuántas veces aparece el valor objetivo en la tupla.

In [ ]:
tupla = (1, 2, 2, 3, 2, 4, 2)
objetivo = 2
contador = tupla.count(objetivo)
print(contador)

4

7. Ejercicio: Obtener una subtuple de una tupla
   - Descripción: Dada una tupla, crea una nueva tupla que contenga los elementos desde el índice 1 hasta el índice 3 (sin incluirlo).

In [ ]:
tupla = (1, 2, 3, 4, 5)
subtuple = tupla[1:3]
print(subtuple)

(2, 3)


8. Ejercicio: Invertir una tupla
    - Descripción: Dada una tupla, inviértela en orden.

In [ ]:
tupla = (1, 2, 3, 4, 5)
tupla_invertida = tupla[::-1]
print(tupla_invertida)

(5, 4, 3, 2, 1)

## DICCIONARIOS

Definir diccionarios

1. Crea el diccionario festivos con las fechas como claves y los nombres como valores: (...)
2. Crea el diccionario monarcas con los países como claves y los nombres como valores: (...)

In [99]:
festivos = {'01/01':'Año Nuevo', 
            '06/01': 'Epifanía del Señor', 
            '15/04': 'Viernes Santo', 
            '15/08': 'Asunción de la Virgen',
            '12/10': 'Fiesta Nacional de España',
            '01/11': 'Todos los Santos',
            '06/12': 'Día de la Constitución Española',
            '08/12': 'Inmaculada Concepción'}
monarcas = {'Bélgica': 'Philippe', 'Dinamarca': 'Margrethe II', 'Holanda': 'Beatrix', 
            'Noruega': 'Harald V', 'España': 'Felipe VI', 'Reino Unido': 'Carlos III'}

Leer, añadir, y cambiar elementos

3. ¿Qué festivo hay el 15/04?
4. La reina 'Beatrix' abdicó, ahora es el rey 'Willem-Alexander'. Actualiza el dict.
5. El rey de Luxemburgo se llama Henri. Añadelo al dict usando .update().

In [62]:
print(f'Festivo del día 15 de abril: {festivos['15/04']}')

Festivo del día 15 de abril: Viernes Santo

In [64]:
monarcas['Holanda'] = 'Willem-Alexander'
monarcas

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III'}

In [65]:
monarcas['Luxemburgo']= 'Henri'
monarcas

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri'}

Obtener valores

17. ¿Qué festivo hay el 06/01?
18. Obten el festivo que haya el 08/03, y en su defecto devuélve 'Día Internacional de la Mujer'.
19. Obten el festivo que haya el 31/11, y si no existe crea un par de clave-valor nuevo con el valor de 'Todos los Santos'.

In [95]:
festivo_0601 = festivos['06/01']
print('Festivo 6 de enero: ', festivo_0601)
festivo_0803 = festivos.get('08/03', "No existe en el calendario: Día Internacional de la Mujer")
print('Festivo 8 de marzo: ', festivo_0803 )

Festivo 6 de enero:  Epifanía del Señor
Festivo 8 de marzo:  No existe en el calendario: Día Internacional de la Mujer

In [101]:
festivo_3111 = festivos.setdefault('31/11', 'Todos los Santos') 
# festivo_311 --> te dice que no está definido ERROR
festivos

{'01/01': 'Año Nuevo',
 '06/01': 'Epifanía del Señor',
 '15/04': 'Viernes Santo',
 '15/08': 'Asunción de la Virgen',
 '12/10': 'Fiesta Nacional de España',
 '01/11': 'Todos los Santos',
 '06/12': 'Día de la Constitución Española',
 '08/12': 'Inmaculada Concepción',
 '31/11': 'Todos los Santos'}

In [103]:
festivo_3111 = festivos.setdefault('31/11', 'Pepito Grillo') 
festivo_3111
# ya está definido, el resultado es el value

'Todos los Santos'

Comprobar contenidos

6. ¿Cuántos países están definidos en monarcas?
7. ¿Es 'Monaco' uno de ellos? // Mirar si Henri está en el dict
8. ¿Es verdad que nos olvidamos de poner 'Suecia'? Compruébalo de una manera en que obtengas un True o False.

In [66]:
len(monarcas)

7

In [67]:
'Monaco' in monarcas

False

In [68]:
# si fuera un value:
'Henri' in monarcas.values()

True

In [69]:
# Es verdad? suecia NO esta, debemos obtener un True
'Suecia' not in monarcas

True

Listar los contenidos

9. Saca una lista de todos los países en el dict monarcas.
10. Saca una lista de los nombres de los festivos.  
11. Imprime el diccionario de festivos.
12. Imprime una lista de tuplas de todos los elementos que hay en festivos

In [73]:
paises = list(monarcas.keys())
paises

['Bélgica',
 'Dinamarca',
 'Holanda',
 'Noruega',
 'España',
 'Reino Unido',
 'Luxemburgo']

In [74]:
nombres_festivos = list(festivos.values())
nombres_festivos

['Año Nuevo',
 'Epifanía del Señor',
 'Viernes Santo',
 'Asunción de la Virgen',
 'Fiesta Nacional de España',
 'Todos los Santos',
 'Día de la Constitución Española',
 'Inmaculada Concepción']

In [80]:
# lista de tuplas --> elementos 'festivos'
zip_festivos = list(zip(festivos.keys(), festivos.values())) # ó zip(festivos.items()) directamente
zip_festivos

[('01/01', 'Año Nuevo'),
 ('06/01', 'Epifanía del Señor'),
 ('15/04', 'Viernes Santo'),
 ('15/08', 'Asunción de la Virgen'),
 ('12/10', 'Fiesta Nacional de España'),
 ('01/11', 'Todos los Santos'),
 ('06/12', 'Día de la Constitución Española'),
 ('08/12', 'Inmaculada Concepción')]

Copiar dicts, y borrar elementos

13. Copia monarcas a monarcas2010.
14. Quita España de monarcas2010.
15. Quita el último elemento de monarcas2010.

In [81]:
monarcas2010 = monarcas.copy()
monarcas2010

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri'}

In [82]:
monarcas2010.pop('España')

'Felipe VI'

In [83]:
monarcas2010

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri'}

In [84]:
monarcas2010.popitem()

('Luxemburgo', 'Henri')

In [85]:
monarcas2010

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'Reino Unido': 'Carlos III'}

Vaciar y borrar dicts

16. Vacia el dict monarcas2010.

In [86]:
monarcas2010.clear()

In [87]:
monarcas2010

{}