## INDICE
- [Variables](#variables)
- [Listas](#listas)
- [Tuplas](#tuplas)  
    - [Función ZIP](#funcion-zip)
- [Diccionarios](#diccionarios)
- [Sets](#sets)  
    - [Operaciones de Conjuntos](#operaciones-de-conjuntos)
- [if: estructuras de selección](#if-estructuras-de-selección)  
- [for: estructura de iteración, loops](#for-estructura-de-iteración-loops)  
    - [range](#range)
    - [Comprehension Lists](#comprehension-lists)  

- [while: estructuras de iteración, loops](#while-estructura-de-iteración-loops)  
- [try/except: estructuras de control en bucles](#tryexcept-estructura-de-control-en-bucles)

## VARIABLES

## LISTAS

In [290]:
# 1 Haz una lista llamada colores donde almacenemos los primeros 6 colores que te vengan a la mente.
colores = ['azul', 'verde', 'amarillo', 'negro', 'violeta', 'blanco']
# 2. Haz una lista llamada buses de las líneas de autobuses que pasan por tu casa.
buses = ['H10', 'V27', '47']
# 3. Apunta la previsión de temperaturas máximas para todos los días de esta semana en temperaturas.
temperaturas = [28, 28, 30, 29, 29, 30, 31]

In [291]:
# 4. Convierte tu(s) nombre(s) a una lista nombres de caracteres.
nombre = 'Ana María'
lista_nombre = list(nombre)
print(lista_nombre)
# 5. Convierte tu(s) apellido(s) a una lista apellidos de caracteres.
apellidos = 'Robles García'
lista_apellidos = list(apellidos)
print(lista_apellidos)

['A', 'n', 'a', ' ', 'M', 'a', 'r', 'í', 'a']
['R', 'o', 'b', 'l', 'e', 's', ' ', 'G', 'a', 'r', 'c', 'í', 'a']

In [292]:
# 6. ¿Cuántos búses pasan por tu casa?
len(buses)

3

In [293]:
# 7. ¿Cuántos caracteres hay en tu apellido(s) (inluyendo los espacios)?
len(lista_apellidos)

13

In [294]:
# 8. ¿Cuáles son las temperaturas máximas (t_max) y mínimas (t_min) para esta semana?
t_max = max(temperaturas)
t_min = min(temperaturas)
print(f'Temperaturas: \n Máxima: {t_max} \n Mínima: {t_min}')

Temperaturas:
 Máxima: 31
 Mínima: 28

In [295]:
# 9. Hay una 'e' en tu nombre?
print('Hay "e" en mi nombre:', 'e' in lista_nombre)
# 10. Tienes el color 'rosa' en la lista de colores?
print('Está el color ROSA en la lista:', 'rosa' in colores)
# 11. ¿Tiene una 'x' tu nombre? (Usa not in)
print('No hay "x" en mi nombre:', 'x' not in lista_nombre)

Hay "e" en mi nombre: False
Está el color ROSA en la lista: False
No hay "x" en mi nombre: True

In [296]:
# 12. Copia el contenido de temperaturas a temperaturas2, y temperaturas3.
temperaturas2 = temperaturas.copy()
temperaturas3 = temperaturas.copy()

In [297]:
# 13. Vacía el contenido de la variable temperaturas2
temperaturas2.clear()
# 14. Imprime el contenido de temperaturas y temperaturas2.
print(temperaturas)
print(temperaturas2)

[28, 28, 30, 29, 29, 30, 31]
[]

In [298]:
# 15. Copia el contenido de nombres a nombres2.
nombres2 = lista_nombre.copy()
# 16. Copia el contenido de apellidos a apellidos2.
apellidos2 = lista_apellidos.copy()

In [299]:
# 17. Ordena la variable temperaturas3 de mayor a menor.
temperaturas3.sort(reverse = True)
temperaturas3

[31, 30, 30, 29, 29, 28, 28]

In [300]:
# 18. Ordena los caracteres de tu nombre y tu apellido en las listas nombres2 y apellidos2. 
# Imprime el resultado y investiga: ¿qué orden ha cogido? ¿Cómo trata las mayúsculas?
nombres2.sort()
apellidos2.sort()
print(nombres2, '--> orden alfabético, SÍ distingue entre M de m')
print(apellidos2)
print('--> orden alfabético, SÍ distingue entre M de m')

[' ', 'A', 'M', 'a', 'a', 'a', 'n', 'r', 'í'] --> orden alfabético, SÍ distingue entre M de m
[' ', 'G', 'R', 'a', 'a', 'b', 'c', 'e', 'l', 'o', 'r', 's', 'í']
--> orden alfabético, SÍ distingue entre M de m

In [301]:
# 19. ¿Cuántas 'a' tiene tu nombre? ¿Y cuántas 'o'?
num_a_nombre = nombres2.count('a') + nombres2.count('A')
num_o_nombre = nombres2.count('o') + nombres2.count('O')
print(f'Num "a" : {num_a_nombre}. \nNum "o" : {num_o_nombre}. ')

Num "a" : 4.
Num "o" : 0.

In [302]:
# 20. Verifica si los resultados de ejercicio 19 son iguales para la lista nombres2.
num_a_nombre_lista = lista_nombre.count('a') + lista_nombre.count('A')
num_o_nombre_lista = lista_nombre.count('o') + lista_nombre.count('O')
print(num_a_nombre == num_a_nombre_lista)
print(num_o_nombre == num_o_nombre_lista)

True
True

In [303]:
# 21. ¿Cuántas veces esta semana llega la temperatura a la t_max? ¿Y cuántas a la t_min?
veces_tmax = temperaturas.count(t_max)
veces_tmin = temperaturas.count(t_min)
print(f'T máxima: {veces_tmax} veces. \nT mínima: {veces_tmin} veces.')

T máxima: 1 veces.
T mínima: 2 veces.

In [304]:
# 22. La lista dias_en contiene 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', y 'sunday'.
dias_en = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
# 23
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                        12, 11, 13, 17, 18, 15, 
                        15, 17, 17, 13, 13, 11,
                        12, 10, 12, 14, 12, 12,
                        11, 12, 16, 16, 14, 17, 18]

In [305]:
# 24. ¿Cuál es el penúltimo día de la semana?
dias_en[5] # ó [-2]

'saturday'

In [306]:
# 25. ¿Cuál es el último elemento de la lista de temperaturas de diciembre?
temperaturas_diciembre[-1]

18

In [307]:
# 26. ¿Está 'friday' en la lista de días en inglés? Si está, ¿dónde?
print('friday' in dias_en)
print(dias_en.index('friday'))

True
4

In [308]:
# 27. ¿Cuál era la temperatura máxima en diciembre?
max(temperaturas_diciembre)

18

In [309]:
# 28. Encuentra el índice de 'miércoles' en dias_es.
dias_en.index('wednesday')

2

In [310]:
# 29. Imprime esta frase en pantalla: DE LA SEMANA QUE DEFINIMOS AL PPIO
# 'La temperatura máxima esta semana será 14 ºC, que ocurrirá en 1 días(s). El día más frío tendrá una temperatura máxima de 10 ºC, que ocurrirá en 2 día(s).'
print(f'La temperatura máxima esta semana será {t_max}, la tendremos {temperaturas.count(t_max)} días(s).')
print(f'El día más frío tendrá una temperatura máxima de {t_min}, la tendremos {temperaturas.count(t_min)} día(s).')

La temperatura máxima esta semana será 31, la tendremos 1 días(s).
El día más frío tendrá una temperatura máxima de 28, la tendremos 2 día(s).

1. Duplicar elementos de una lista
- Descripción: Dada una lista de números, duplica cada elemento en la lista. (output esperado: [2, 4, 6, 8, 2, 4, 6, 8])

In [311]:
lista = [2, 4, 6, 8]
lista_duplicada = lista + lista
lista_duplicada

[2, 4, 6, 8, 2, 4, 6, 8]

2. Combinar dos listas
- Descripción: Dadas dos listas, crea una nueva lista que contenga todos los elementos de ambas listas.

In [312]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista_total = lista1 + lista2
lista_total

[1, 2, 3, 4, 5, 6]

3. Calcular la suma de una lista de números

In [313]:
suma = sum(lista_total)
suma

21

8. Obtener una sublista de una lista
- Descripción: Dada una lista, crea una nueva lista que contenga los elementos desde el índice 2 hasta el índice 5 (sin incluirlo).

In [314]:
sub = lista_total [2:5]
sub

[3, 4, 5]

12. Reemplazar un elemento en una lista
- Descripción: Dada una lista, reemplaza el segundo elemento con un nuevo valor.

In [315]:
sub[1] = 8
sub

[3, 8, 5]

13. Obtener una lista inversa
- Descripción: Dada una lista, obtén una nueva lista que contenga los elementos en orden inverso.

In [316]:
sub_reversed = sorted(sub)
sub_reversed

[3, 5, 8]

14. Ordenar una lista en orden ascendente
- Descripción: Dada una lista de números, ordénala en orden ascendente.

In [317]:
lista_duplicada.sort()
lista_duplicada

[2, 2, 4, 4, 6, 6, 8, 8]

15. Obtener elementos pares de una lista
- Descripción: Dada una lista, obtén una nueva lista que contenga solo los elementos en posiciones pares.  (lenguaje humano; índices de la lista, no los valores)

In [318]:
lista_pares = lista_duplicada[1: :2]
lista_pares

[2, 4, 6, 8]

16. Obtener una sublista saltando elementos
- Descripción: Dada una lista, obtén una sublista que contenga los elementos saltando de 3 en 3.

In [319]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
lista_ej16 = lista[: :3]
lista_ej16

[2, 8, 14, 20]

17. Encontrar el segundo valor máximo en una lista
- Descripción: Dada una lista de números, encuentra el segundo valor máximo.  
No funcionaría con listas con valores repetidos: bucle for (más tarde)

In [320]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [321]:
v_max = max(lista) # --> 20
index_v_max = lista.index(v_max) # --> 9
lista.pop(9)
v_max2 = max(lista)
print(f'El 2o mayor valor es: {v_max2}.')

El 2o mayor valor es: 18.

In [322]:
nlista = lista.pop(2)
nlista # --> 6, no la lista sin el 20

6

In [323]:
# Solución ejercicios resueltos: 
lista_ejr = [7, 2, 9, 1, 5]
maximo = max(lista_ejr)
lista_ejr.remove(maximo) # elimina la 1a a aparición de ese elemento
segundo_maximo = max(lista_ejr)
print(segundo_maximo)

7

19. Agregar elementos a una lista utilizando append y extend
- Descripción: Dada una lista inicial, agrega nuevos elementos utilizando tanto `append` como `extend` y observa las diferencias en el resultado final. 
- El elemento que deberéis usar para añadir a la lista original tiene que ser una lista.

In [324]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
otra = [1,2,3]

In [325]:
lista_app = lista.copy()
lista_ext = lista.copy()

# append()
lista_app.append(otra)

# extend()
lista_ext.extend(otra)

print(f'Con append: {lista_app}. --> mete la lista entera como un elemento \nCon extend: {lista_ext}.')

Con append: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, [1, 2, 3]]. --> mete la lista entera como un elemento
Con extend: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 1, 2, 3].

20. Insertar un elemento en una posición específica
- Descripción: Dada una lista, inserta un nuevo elemento en una posición específica determinada por el usuario  
(debereis usar la función input para preguntar al usuario en que posición quiere insertar el elemento).

In [326]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [327]:
# elemento = int(input("Ingrese el elemento a añadir: "))
# posicion = int(input("Ingrese la posición de inserción: "))

# lista.insert(posicion, elemento)
# print(lista)

21. Verificar si un elemento está presente en una lista
- Descripción: Dada una lista, verifica si un elemento específico está presente en ella.  
Igual que el caso anterior, debereis preguntar al usuario que elemento quiere buscar en la lista. El resultado deberá ser True o False.

In [328]:
lista = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [329]:
# elemento = int(input("Ingrese el elemento: "))

# existencia_elemento = elemento in lista
# print(f'El elemento introducido se encuentra en la lista: {existencia_elemento}.')

22. Manipulación de una lista utilizando remove(), pop() y clear()
- Descripción: Crea una lista inicial, realiza operaciones de eliminación y limpieza utilizando los métodos:  
`remove()`, `pop()` y `clear()`, y observa cómo afectan a la lista.

In [330]:
lista_22 = [2, 4, 6, 8, 10, 10, 12, 14, 16, 18, 20]

In [331]:
lista_22.remove(10) # quita la 1a aparición de ese elemento
lista_22

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [332]:
lista_22.pop(3) # --> resultado sale: 8
lista_22

[2, 4, 6, 10, 12, 14, 16, 18, 20]

In [333]:
lista_22.clear()
lista_22

[]

## TUPLAS

Objetos NO MUTABLES, ordenados (se puede indexar), HETEROGÉNEOS

In [334]:
# 1. Crea una tupla `persona1` para juntar los siguientes datos: 61 kg, 1.54 m altura, pelo marrón, sin usar paréntesis. 
# (Serán del tipo `int`, `float` y `str`.)
persona1 = 61, 1.54, "pelo marron"
persona1

(61, 1.54, 'pelo marron')

In [335]:
# 2. Crea una tupla para la `persona2` de 68 kg, 1.65 m y pelo rubio, usando paréntesis
persona2 = (68, 1.65, "pelo rubio")
persona2

(68, 1.65, 'pelo rubio')

In [336]:
#  3. Crea una lista `talla` que recompila 'M', 42, y 39.
talla = ["M", 42, 39]
talla

['M', 42, 39]

In [337]:
# 4. Convierte la lista `talla` a una tupla.
talla = tuple(talla)
talla

('M', 42, 39)

In [338]:
# 5. Une a la tupla de `persona1` los datos en `talla`.
lista_pt = persona1 + talla # te lo añade independiente
lista_pt_tuplas = persona1, talla
print(lista_pt, '--> "+": elementos independientes')
print(lista_pt_tuplas, '--> ",": conjunto de grupos')

(61, 1.54, 'pelo marron', 'M', 42, 39) --> "+": elementos independientes
((61, 1.54, 'pelo marron'), ('M', 42, 39)) --> ",": conjunto de grupos

In [339]:
# 6. Saca de `persona2` el contenido del tercer elemento y llámalo `color`.
color = persona2[2]
color

'pelo rubio'

In [340]:
# 7. ¿Cuántos elementos hay ahora en `persona2`? (Es decir, ¿cuál es su longitud?)
len(persona2)

3

--> DESEMBALAMOS tuplas:

In [341]:
# 8. Crea las variables `peso`, `altura`, `color`, `camiseta`, `pantalon`, y `zapatos` 
# llénalas con el contenido de `persona1`. Imprime `camiseta` para comprobar el resultado.
print(persona1)
peso, altura, color_pelo = persona1
print('peso:', peso)
print('altura:', altura)
print('color_pelo:', color_pelo)

(61, 1.54, 'pelo marron')
peso: 61
altura: 1.54
color_pelo: pelo marron

In [342]:
# 11. Crea una tupla `etiquetas` con `'peso'`, `'altura'`, y `'color'`.
etiquetas = peso, altura, color_pelo
etiquetas

(61, 1.54, 'pelo marron')

### Funcion ZIP

In [343]:
# 9. Crea el zip `personas` con `persona1` y `persona2`.    --> crea PAREJAS
personas = list(zip(persona1, persona2))
print(persona1)
print(persona2)
print('...................')
print(personas)

(61, 1.54, 'pelo marron')
(68, 1.65, 'pelo rubio')
...................
[(61, 68), (1.54, 1.65), ('pelo marron', 'pelo rubio')]

In [344]:
# 10. ¿Cuántas "elementos" tiene `personas`? ¿Por qué? --> lista de 3 tuplas
len(personas)

3

In [345]:
# 12. Crea al zip de `etiquetas`, `persona1`, y `persona2`.    --> crea PAREJAS
todo = list(zip(etiquetas, persona1, persona2))
todo

[(61, 61, 68),
 (1.54, 1.54, 1.65),
 ('pelo marron', 'pelo marron', 'pelo rubio')]



1. Ejercicio: Acceder al primer elemento de una tupla
   - Descripción: Dada una tupla, obtén el primer elemento.

In [346]:
tupla = (10, 20, 30)
primer_elemento = tupla[0]
print(primer_elemento)

10


2. Ejercicio: Acceder al último elemento de una tupla
   - Descripción: Dada una tupla, obtén el último elemento.

In [347]:
tupla = ("Manzana", "Banana", "Cereza")
ultimo_elemento = tupla[-1]
print(ultimo_elemento)

Cereza


3. Ejercicio: Obtener la longitud de una tupla
   - Descripción: Dada una tupla, obtén la cantidad de elementos que contiene.

In [348]:
tupla = (1, 2, 3, 4, 5)
longitud = len(tupla)
print(longitud)

5


5. Ejercicio: Encontrar el índice de un elemento en una tupla
   - Descripción: Dada una tupla y un valor objetivo, encuentra el índice del primer elemento que coincida con el valor objetivo.

In [349]:
tupla = (10, 20, 30, 40, 50)
objetivo = 30
indice = tupla.index(objetivo)
print(indice)

2

6. Ejercicio: Contar ocurrencias de un elemento en una tupla
   - Descripción: Dada una tupla y un valor objetivo, cuenta cuántas veces aparece el valor objetivo en la tupla.

In [350]:
tupla = (1, 2, 2, 3, 2, 4, 2)
objetivo = 2
contador = tupla.count(objetivo)
print(contador)

4

7. Ejercicio: Obtener una subtuple de una tupla
   - Descripción: Dada una tupla, crea una nueva tupla que contenga los elementos desde el índice 1 hasta el índice 3 (sin incluirlo).

In [351]:
tupla = (1, 2, 3, 4, 5)
subtuple = tupla[1:3]
print(subtuple)

(2, 3)


8. Ejercicio: Invertir una tupla
    - Descripción: Dada una tupla, inviértela en orden.

In [352]:
tupla = (1, 2, 3, 4, 5)
tupla_invertida = tupla[::-1]
print(tupla_invertida)

(5, 4, 3, 2, 1)

## DICCIONARIOS

Definir diccionarios

1. Crea el diccionario festivos con las fechas como claves y los nombres como valores: (...)
2. Crea el diccionario monarcas con los países como claves y los nombres como valores: (...)

In [353]:
festivos = {'01/01':'Año Nuevo', 
            '06/01': 'Epifanía del Señor', 
            '15/04': 'Viernes Santo', 
            '15/08': 'Asunción de la Virgen',
            '12/10': 'Fiesta Nacional de España',
            '01/11': 'Todos los Santos',
            '06/12': 'Día de la Constitución Española',
            '08/12': 'Inmaculada Concepción'}
monarcas = {'Bélgica': 'Philippe', 'Dinamarca': 'Margrethe II', 'Holanda': 'Beatrix', 
            'Noruega': 'Harald V', 'España': 'Felipe VI', 'Reino Unido': 'Carlos III'}

Leer, añadir, y cambiar elementos

3. ¿Qué festivo hay el 15/04?
4. La reina 'Beatrix' abdicó, ahora es el rey 'Willem-Alexander'. Actualiza el dict.
5. El rey de Luxemburgo se llama Henri. Añadelo al dict usando .update().

5ext.Actualizar valores

In [354]:
print(f'Festivo del día 15 de abril: {festivos['15/04']}')

Festivo del día 15 de abril: Viernes Santo

In [355]:
monarcas['Holanda'] = 'Willem-Alexander'
monarcas

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III'}

In [356]:
monarcas['Luxemburgo']= 'Henri'
monarcas

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri'}

In [357]:
# actualizar valores: UPDATE() --> es el "insert", "extend" para el diccionario, para AÑADIR
# - setdefault: también podría ser (sólo 1 key-value)
nuevos_valores = {'país1': 'Pepa I', 'país2': 'Pepa II', 'país3': 'Pepa III'} # dict
a_añadir= [('país4','Pepa IV'), ('país5','Pepa V'), ('país6','Pepa VI')]     # lista de tuplas: te lo mete como diccionario!

In [358]:
monarcas.update(nuevos_valores)
monarcas

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri',
 'país1': 'Pepa I',
 'país2': 'Pepa II',
 'país3': 'Pepa III'}

In [359]:
monarcas.update(a_añadir)
monarcas

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri',
 'país1': 'Pepa I',
 'país2': 'Pepa II',
 'país3': 'Pepa III',
 'país4': 'Pepa IV',
 'país5': 'Pepa V',
 'país6': 'Pepa VI'}

Obtener valores

17. ¿Qué festivo hay el 06/01?
18. Obten el festivo que haya el 08/03, y en su defecto devuélve 'Día Internacional de la Mujer'.
19. Obten el festivo que haya el 31/11, y si no existe crea un par de clave-valor nuevo con el valor de 'Todos los Santos'.

In [360]:
festivo_0601 = festivos['06/01']
print('Festivo 6 de enero: ', festivo_0601)
festivo_0803 = festivos.get('08/03', "No existe en el calendario: Día Internacional de la Mujer")
print('Festivo 8 de marzo: ', festivo_0803 )

Festivo 6 de enero:  Epifanía del Señor
Festivo 8 de marzo:  No existe en el calendario: Día Internacional de la Mujer

In [361]:
festivo_3111 = festivos.setdefault('31/11', 'Todos los Santos') 
# festivo_311 --> te dice que no está definido ERROR
festivos

{'01/01': 'Año Nuevo',
 '06/01': 'Epifanía del Señor',
 '15/04': 'Viernes Santo',
 '15/08': 'Asunción de la Virgen',
 '12/10': 'Fiesta Nacional de España',
 '01/11': 'Todos los Santos',
 '06/12': 'Día de la Constitución Española',
 '08/12': 'Inmaculada Concepción',
 '31/11': 'Todos los Santos'}

In [362]:
festivo_3111 = festivos.setdefault('31/11', 'Pepito Grillo') 
festivo_3111
# ya está definido, el resultado es el value

'Todos los Santos'

Comprobar contenidos

6. ¿Cuántos países están definidos en monarcas?
7. ¿Es 'Monaco' uno de ellos? // Mirar si Henri está en el dict
8. ¿Es verdad que nos olvidamos de poner 'Suecia'? Compruébalo de una manera en que obtengas un True o False.

In [363]:
len(monarcas)

13

In [364]:
'Monaco' in monarcas

False

In [365]:
# si fuera un value:
'Henri' in monarcas.values()

True

In [366]:
# Es verdad? suecia NO esta, debemos obtener un True
'Suecia' not in monarcas

True

Listar los contenidos

9. Saca una lista de todos los países en el dict monarcas.
10. Saca una lista de los nombres de los festivos.  
11. Imprime el diccionario de festivos.
12. Imprime una lista de tuplas de todos los elementos que hay en festivos

In [367]:
paises = list(monarcas.keys())
paises

['Bélgica',
 'Dinamarca',
 'Holanda',
 'Noruega',
 'España',
 'Reino Unido',
 'Luxemburgo',
 'país1',
 'país2',
 'país3',
 'país4',
 'país5',
 'país6']

In [368]:
nombres_festivos = list(festivos.values())
nombres_festivos

['Año Nuevo',
 'Epifanía del Señor',
 'Viernes Santo',
 'Asunción de la Virgen',
 'Fiesta Nacional de España',
 'Todos los Santos',
 'Día de la Constitución Española',
 'Inmaculada Concepción',
 'Todos los Santos']

In [369]:
# lista de tuplas --> elementos 'festivos'
zip_festivos = list(zip(festivos.keys(), festivos.values())) # ó zip(festivos.items()) directamente
zip_festivos

[('01/01', 'Año Nuevo'),
 ('06/01', 'Epifanía del Señor'),
 ('15/04', 'Viernes Santo'),
 ('15/08', 'Asunción de la Virgen'),
 ('12/10', 'Fiesta Nacional de España'),
 ('01/11', 'Todos los Santos'),
 ('06/12', 'Día de la Constitución Española'),
 ('08/12', 'Inmaculada Concepción'),
 ('31/11', 'Todos los Santos')]

Copiar dicts, y borrar elementos

13. Copia monarcas a monarcas2010.
14. Quita España de monarcas2010.
15. Quita el último elemento de monarcas2010.

In [370]:
monarcas2010 = monarcas.copy()
monarcas2010

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri',
 'país1': 'Pepa I',
 'país2': 'Pepa II',
 'país3': 'Pepa III',
 'país4': 'Pepa IV',
 'país5': 'Pepa V',
 'país6': 'Pepa VI'}

In [371]:
monarcas2010.pop('España')

'Felipe VI'

In [372]:
monarcas2010

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri',
 'país1': 'Pepa I',
 'país2': 'Pepa II',
 'país3': 'Pepa III',
 'país4': 'Pepa IV',
 'país5': 'Pepa V',
 'país6': 'Pepa VI'}

In [373]:
monarcas2010.popitem()

('país6', 'Pepa VI')

In [374]:
monarcas2010

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri',
 'país1': 'Pepa I',
 'país2': 'Pepa II',
 'país3': 'Pepa III',
 'país4': 'Pepa IV',
 'país5': 'Pepa V'}

Vaciar y borrar dicts

16. Vacia el dict monarcas2010.

In [375]:
monarcas2010.clear()

In [376]:
monarcas2010

{}

## SETs

Colección NO ORDENADA!!!!, elementos ÚNICOS, MUTABLES  
Para operaciones matemáticas

In [377]:
# LISTA:
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                                  12, 11, 13, 17, 18, 15, 
                                  15, 17, 17, 13, 13, 11,
                                  12, 10, 12, 14, 12, 12,
                                  11, 12, 16, 16, 14, 17, 18]

In [378]:
set_diciembre = set(temperaturas_diciembre)
set_diciembre

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [379]:
set_colores = {"rojo", "amarillo", "verde", "azul", "morado", "negro"}
set_colores

{'amarillo', 'azul', 'morado', 'negro', 'rojo', 'verde'}

In [380]:
# 4. Añade `'lila'` a `colores`
set_colores.add("lila") # lo añade DONDE LE DA LA GANA; no se puede indexar
set_colores

{'amarillo', 'azul', 'lila', 'morado', 'negro', 'rojo', 'verde'}

In [381]:
# 5. Añade MÚLTIPLES elementos: `'azul'`, `'rojo'`, y `'granate'` a `colores` usando `.update()`.
set_a_añadir= {"azul", "rojo", "granate"}
set_colores.update(set_a_añadir)    # o ponerlos directamente
set_colores

{'amarillo', 'azul', 'granate', 'lila', 'morado', 'negro', 'rojo', 'verde'}

In [382]:
#  6. Tu set de `colores`, ¿tiene `'verde'`?
"verde" in set_colores

True

In [383]:
# 8. Define el set `enero` para que sea igual a `diciembre`.
set_enero = set_diciembre.copy()
# 9. Quita las temperaturas `17`, y `18` de `enero`.
set_enero.remove(17)
set_enero.remove(18)
set_enero

{10, 11, 12, 13, 14, 15, 16}

In [384]:
# 10. ¿Cuántas temperaturas distintas había en diciembre?
len(set_diciembre) # un SET siempre tiene VALORES DISTINTOS

9

### OPERACIONES DE CONJUNTOS

In [385]:
# 12. Identifica los elementos que hay en `diciembre` que no están en `enero` --> DIFERENCIA
set_diciembre.difference(set_enero) # resultado otro set

{17, 18}

In [386]:
# 13. Identifica los elementos que hay en `enero` que no están en `diciembre` --> DIFERENCIA
set_enero.difference(set_diciembre)

set()

In [387]:
# 14. Identifica los elementos que tienen en común `diciembre` y `enero` --> INTERSECCIÓN
set_diciembre & set_enero

{10, 11, 12, 13, 14, 15, 16}

In [388]:
# 15. Identifica la DIFERENCIA SIMÉTRICA de `colores` y `{'marrón','amarillo','cian'}`. 
# ¿Qué significa este resultado? --> set que contiene los elementos
# que están en UNO de los conjuntos pero NO EN AMBOS   (orden no importa)
set_colores2 = {'marrón','amarillo','cyan'}
dif= set_colores ^ set_colores2
dif

{'azul',
 'cyan',
 'granate',
 'lila',
 'marrón',
 'morado',
 'negro',
 'rojo',
 'verde'}

In [389]:
# 16. ¿Son DISJOINT `diciembre` y `enero`? ¿Por qué (no)? ORDEN NO IMPORTA
print(set_diciembre.isdisjoint(set_enero), 'porque TIENEN elementos en común')
print(set_enero.isdisjoint(set_diciembre), 'porque TIENEN elementos en común')

False porque TIENEN elementos en común
False porque TIENEN elementos en común

In [390]:
# 17. ¿Es `{'rojo','azul'}` un SUPERSET de colores?
colores3 = {'rojo','azul'}
print(colores3.issuperset(set_colores), 'porque NO todos los elementos de colores están en colores3')
print(set_colores.issuperset(colores3), 'porque TODOS los elementos de colores3 están en colores')

False porque NO todos los elementos de colores están en colores3
True porque TODOS los elementos de colores3 están en colores

In [391]:
# 18. ¿Y un subset?
colores3 = {'rojo','azul'}
print(colores3.issubset(set_colores), 'porque TODOS los elementos de colores3 están en colores')
print(set_colores.issubset(colores3), 'porque NO todos los elementos de colores están en colores3')

True porque TODOS los elementos de colores3 están en colores
False porque NO todos los elementos de colores están en colores3

## Sentencias de Control

### if: estructuras de selección

In [392]:
var1 = 8
var2 = 2
var3 = 8

In [393]:
# 2. Comprueba si var1 es mayor que 6, y si es así imprime ¡Es enorme!.
if var1 > 6:
    print("Es enorme también")

Es enorme también

In [394]:
# 3. Comprueba si `var2` es mayor que 6, y si es así imprime `¡Es enorme también!`.
if var2 > 6:
    print("Es enorme también")

In [395]:
#  5. Comprueba si `var1` es igual que `var3`, y si es así imprime `Son iguales.`
if var1 == var3:
    print("Son iguales")

Son iguales

In [396]:
# 7. Comprueba si `var1` es mayor o igual que `var2`, 
# y si es así calcula la diferencia entre `var1` y `var2`, guardala en la variable `dif`, e imprime `'La diferencia es',dif`. 
if var1 >= var2:
    dif = var1 - var2
    print(f"La diferencia es {dif}")

La diferencia es 6

In [397]:
# 8. Comprueba si `var1` es mayor que 6, 
# y si es así imprime `¡Es enorme!`. Si no es así imprime `Es chiquitín.`.
if var1 > 6:
    print("Es enorme")
else:
    print("Es chiquitín")

Es enorme

In [398]:
# 4. Calcular el máximo entre dos números:
numero1 = 10
numero2 = 15

if numero1 > numero2:
    num_max = numero1
else:
    num_max = numero2

print("El máximo es:", num_max)

El máximo es: 15

In [399]:
# 5. Verificar si una letra es una vocal o una consonante

# letra = input('Qué letra desea insertar: ').lower()

if letra in ['a', 'e', 'i', 'o', 'u']:
    print("Es una vocal")
else:
    print("Es una consonante")

Es una consonante

In [400]:
# 6. Dado el monto total de una compra, 
# calcula el descuento aplicado según las siguientes condiciones: 
# si el monto es mayor o igual a $100, aplica un descuento del 10%; 
# de lo contrario, no aplica ningún descuento.

coste_compra= 220

if coste_compra >= 100:
    descuento = coste_compra*0.10
    coste_final = coste_compra - descuento
else:
    descuento = 'No aplica ningún descuento'
    coste_final = coste_compra

print(f'Precio de compra: {coste_compra} \nDescuento: {descuento} \nPrecio final con descuento: {coste_final}')

Precio de compra: 220
Descuento: 22.0
Precio final con descuento: 198.0

In [401]:
# 7. Verificar si un año es bisiesto o no:
# un año es bisiesto si es divisible entre 4, excepto aquellos divisibles entre 100 pero no entre 400.

anio = 2024

if anio % 4 == 0 and (anio % 100 != 0 or anio % 400 == 0):
    print("Es un año bisiesto")
else:
    print("No es un año bisiesto")

Es un año bisiesto

In [402]:
# 9. Verificar si tres números forman un triángulo rectángulo
# si se cumple el teorema de Pitágoras: lado1**2 + lado2**2 = lado 3**2.

lado1 = 3
lado2 = 4
lado3 = 5

if lado1**2 + lado2**2 == lado3**2 or lado1**2 + lado3**2 == lado2**2 or lado2**2 + lado3**2 == lado1**2:
    print("Forman un triángulo rectángulo")
else:
    print("No forman un triángulo rectángulo")

Forman un triángulo rectángulo

In [403]:
# 11. Calcular el índice de masa corporal (IMC) y categorizarlo
# Dados el peso (en kg) y la altura (en metros) de una persona, 
# calcula su IMC y categorízalo según las siguientes condiciones: 
# 1) si el IMC es menor a 18.5, es "Bajo peso"; 
# 2) si está entre 18.5 y 24.9 (inclusive), es "Peso normal"; 
# 3) si está entre 25 y 29.9 (inclusive), es "Sobrepeso"; 
# 4) de lo contrario, es "Obesidad".

peso = 70
altura = 1.75

imc = peso / (altura ** 2)

if imc < 18.5:
    categoria = 'Bajo peso'
elif 18.5 <= imc <= 24.9:
    categoria = 'Peso Normal'
elif 25 <= imc <= 29.9:
    categoria = 'Sobrepeso'
else:
    categoria = 'Obesidad'

print("Categoría del IMC:", categoria)

Categoría del IMC: Peso Normal

In [404]:
peso = 70
altura = 1.75

imc = peso / (altura ** 2)

if imc < 18.5:
    categoria = "Bajo peso"
else:
    if imc <= 24.9:
        categoria = "Peso normal"
    else:
        if imc <= 29.9:
            categoria = "Sobrepeso"
        else:
            categoria = "Obesidad"

print("Categoría del IMC:", categoria)

Categoría del IMC: Peso normal

In [405]:
# 12. Calcular el mayor de 3 números:
n1 = 10
n2 = 15
n3 = 12

if n1 >= n2 and n1 >= n3:
    mayor = n1
else:
    if n2 >= n1 and n2 >= n3:
        mayor = n2
    else:
        mayor = n3

print("El mayor es:", mayor)

El mayor es: 15

In [406]:
# 13.  Dados el día, el mes y el año de una fecha, verifica si la fecha es válida.
dia = 31
mes = 2
anio = 2022

if mes in [1, 3, 5, 7, 8, 10, 12]:
    if dia <= 31:
        fecha_valida = True
    else:
        fecha_valida = False
elif mes in [4, 6, 9, 11]:
    if dia <= 30:
        fecha_valida = True
    else:
        fecha_valida = False
else:  # Mes de febrero
    if (anio % 4 == 0 and anio % 100 != 0) or anio % 400 == 0:
        if dia <= 29:
            fecha_valida = True
        else:
            fecha_valida = False
    else:
        if dia <= 28:
            fecha_valida = True
        else:
            fecha_valida = False

if fecha_valida:
    print("La fecha es válida")
else:
    print("La fecha no es válida")

La fecha no es válida

11.Escribe un programa para una empresa que tiene salas de juegos para todas las edades y quiere calcular de forma automática el precio que debe cobrar a sus clientes por entrar. El programa debe preguntar al usuario:

La edad del cliente.

Las condiciones que tendremos que chequear:
- Si el cliente es menor de 4 años puede entrar gratis,
- Si tiene entre 4 y 18 años debe pagar 5€ y
- Si es mayor de 18 años, 10€.

In [407]:
# años = int(input("¿Cuantos años tienes"))

if años < 4:
    print("Entrada gratis")
elif años >= 4 and años <= 18:
    print("Debes pagar 5 euros")
else:
    print("Debes pagar 10 euros")

NameError: name 'años' is not defined

14. Crea un programa que calcule el impuesto sobre la renta de una persona basado en su ingreso anual y su estado civil (soltero o casado). Para eso deberás:

- Solicitar al usuario su ingreso anual.

- Preguntar al usuario su estado civil, permitiendo dos opciones: "soltero" (S) o "casado" (C).

- Calcular el impuesto sobre la renta utilizando las siguientes reglas:

    - Si el estado civil es "soltero" (S):

        - Si el ingreso anual es menor o igual a $9,875, el impuesto es el 10% del ingreso anual.

        - Si el ingreso anual está entre $9,876 y $40,125, el impuesto es el 10% de los primeros $9,875 más el 12% de la cantidad que excede los $9,875.

    - Si el estado civil es "casado" (C):

        - Si el ingreso anual es menor o igual a $19,850, el impuesto es el 10% del ingreso anual.

        - Si el ingreso anual está entre $19,851 y $80,250, el impuesto es el 10% de los primeros $19,850 más el 12% de la cantidad que excede los $19,850.

In [ ]:
# solución PAIR

# ingreso_anual = float(input('Indique su ingreso anual.'))
# estado_civil = (input('Indique su estado civil ( S = soltero, C = casado).')).capitalize()

if estado_civil == 'S':
    if ingreso_anual <= 9875:
        impuesto = ingreso_anual * 0.1
        print(f'El ingreso anual es: {ingreso_anual}')
        print(f'Su estado civil es: {estado_civil}')
        print(f'El impuesto es de {round(impuesto, 2)}.')
    elif ingreso_anual >= 9876 and ingreso_anual <= 40125:
        impuesto = (9875 * 0.1) + ((ingreso_anual - 9875)*0.12)
        print(f'El ingreso anual es: {ingreso_anual}')
        print(f'Su estado civil es: {estado_civil}')
        print(f'El impuesto es de {round(impuesto, 2)}.')
    else:
        impuesto = ingreso_anual * 0.12
        print(f'El ingreso anual es: {ingreso_anual}')
        print(f'Su estado civil es: {estado_civil}')
        print(f'El impuesto es de {round(impuesto, 2)}.')

elif estado_civil == 'C':
    if ingreso_anual <= 198750:
        impuesto = ingreso_anual * 0.1
        print(f'El ingreso anual es: {ingreso_anual}')
        print(f'Su estado civil es: {estado_civil}')
        print(f'El impuesto es de {round(impuesto, 2)}.')
    elif ingreso_anual >= 19851 and ingreso_anual <= 80250:
        impuesto = (19851 * 0.1) + ((ingreso_anual - 19851)*0.12)
        print(f'El ingreso anual es: {ingreso_anual}')
        print(f'Su estado civil es: {estado_civil}')
        print(f'El impuesto es de {round(impuesto, 2)}.')
    else:
        impuesto = ingreso_anual * 0.12
        print(f'El ingreso anual es: {ingreso_anual}')
        print(f'Su estado civil es: {estado_civil}')
        print(f'El impuesto es de {round(impuesto, 2)}.')

else:
    print(f'El ingreso anual es: {ingreso_anual}')
    print('El estado civil es incorrecto. Pruebe de nuevo.')

NameError: name 'estado_civil' is not defined

In [ ]:
# Solicita el salario anual al usuario
# Solicita el ingreso anual y el estado civil al usuario

# ingreso_anual = float(input("Ingresa tu ingreso anual: "))
# estado_civil = input("¿Eres soltero o casado? (S/C): ")

# Calcula el impuesto sobre la renta
if estado_civil.upper() == "S":
    if ingreso_anual <= 9875:
        impuesto = ingreso_anual * 0.10
    elif ingreso_anual <= 40125:
        impuesto = 9875 * 0.10 + (ingreso_anual - 9875) * 0.12
    # Continúa con más tramos impositivos si es necesario
else:
    if ingreso_anual <= 19850:
        impuesto = ingreso_anual * 0.10
    elif ingreso_anual <= 80250:
        impuesto = 19850 * 0.10 + (ingreso_anual - 19850) * 0.12
    # Continúa con más tramos impositivos si es necesario

print(f"Tu impuesto sobre la renta es: ${impuesto:.2f}")

NameError: name 'estado_civil' is not defined

### for: estructura de iteración (loops)

#### RANGE

In [ ]:
# 3. Define e imprime un rango de 0 a 6 (excluido).
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
# 4. Define e imprime un rango de 3 a 6 ambos incluidos.
indices = []

for i in range(3,7):
    indices.append(i)

indices

[3, 4, 5, 6]

In [ ]:
# 7. Define e imprime un rango que empiece en 2, aumentando cada paso por 3, 
# que pare antes de llegar al número 13.
indices= []

for i in range(2, 14, 3):
    indices.append(i)

indices

[2, 5, 8, 11]

In [433]:
# Dada una lista de números, utiliza un bucle for para calcular el producto de todos los elementos.
lista = [2, 3, 4, 5]
producto = 1

for n in lista:
    valor = producto * n # o poner directamente  producto*= n
    producto = valor

print("El producto de los elementos de la lista es:", producto)

El producto de los elementos de la lista es: 120

---------------------------------------------

In [ ]:
temperaturas = [23, 12, 37, 33, 1, 6, 15]

In [ ]:
#  1. Cread tres listas nuevas, donde:
bajas_temp = []
medias_temp = []
altas_temp = []

for temp in temperaturas:
    if temp <= 10.9:
        bajas_temp.append(temp)
    elif temp >= 11 and temp <= 19.9:
        medias_temp.append(temp)
    else:
        altas_temp.append(temp)

print(bajas_temp)
print(medias_temp)
print(altas_temp)

[1, 6]
[12, 15]
[23, 37, 33]

In [ ]:
#  2. Para cada una de las listas creadas en el ejercicio anterior, 
# convertid las temperaturas a grados fahrenheit
todas = bajas_temp.copy() , medias_temp.copy() , altas_temp.copy()
print(todas)
print(type(todas))

([1, 6], [12, 15], [23, 37, 33])
<class 'tuple'>

In [ ]:
indices_altastemp= range(len(altas_temp))
indices_altastemp

range(0, 3)

In [ ]:
list(indices_altastemp)

[0, 1, 2]

In [ ]:
for lista in todas:
    for indice in range(len(lista)): # => longitud de cada lista en la tupla: 
        lista[indice] = (lista[indice] *  9 / 5) + 32
todas

([33.8, 42.8], [53.6, 59.0], [73.4, 98.6, 91.4])

--> bucle for con DICCIONARIOS!!!

In [415]:
# 15. Pide al usuario ingresar una cadena y 
# cuenta cuántas veces aparece cada vocal (a, e, i, o, u) en la cadena.

frase = input("Que frase quieres")  # resultado: string (iterable)
# para poder ir contándolo y no hacer 5 listas separadas: DICCIONARIO
vocales = {'a': 0, 'e':0, 'i':0, 'o':0, 'u':0, }

for k,v in vocales.items():
    veces = frase.count(k) # contamos las apariciones de la key
    vocales[k] = veces

vocales

{'a': 2, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [416]:
frase = 'Cuántas letras y veces aparece cada una en esta frase'
f_min = frase.lower().strip().replace(' ','')
f_min

'cuántasletrasyvecesaparececadaunaenestafrase'

In [420]:
frase = 'Cuántas letras y veces aparece cada una en esta frase'
cuenta = {}

f_min = frase.lower().strip().replace(' ','') #si no, como k te coge los espacios
for i in f_min:  # todo min / sin espacios inicio-fin / sin espacios intermedios
    valor = f_min.count(i)  # contamos apariciones de esa letra
    conjunto = {i:valor}
    cuenta.update(conjunto)

# for k,v in cuenta.items():     <------ NO FUNCIONA
#     f_min = frase.lower().strip().replace(' ','') 
#     v = f_min.count(k) # contamos las apariciones de cada letra, el resultado será el valor
#     letra = {k:v}
#     if k not in cuenta.keys():
#         cuenta.update(letra)

cuenta

{'c': 4,
 'u': 2,
 'á': 1,
 'n': 3,
 't': 3,
 'a': 9,
 's': 5,
 'l': 1,
 'e': 8,
 'r': 3,
 'y': 1,
 'v': 1,
 'p': 1,
 'd': 1,
 'f': 1}

In [426]:
diccionario_compra = {'Brocoli': 2.45,  'Chorizo': 45,  'Zanahoria': 7}
# queremos tener una lista con esos datos, con bucle for

lista_compra=[]

for k,v in diccionario_compra.items():
    tupla = (k,v)
    # lista_compra.extend(tupla) --> ['Brocoli', 2.45, 'Chorizo', 45, 'Zanahoria', 7]
    lista_compra.append(tupla)

lista_compra

[('Brocoli', 2.45), ('Chorizo', 45), ('Zanahoria', 7)]

#### Comprehension lists

In [ ]:
# ENUMERATE!!!
colores = ('azul', 'verde', 'rosa')
indices_valores = list(enumerate(colores))
indices_valores

[(0, 'azul'), (1, 'verde'), (2, 'rosa')]

In [414]:
# 9. Cread una lista nueva donde tengamos los números de la lista `lista` elevados al cuadrado.
lista = [2,45,67,23]

cuadrado = []
for num in lista:                   # iteración
    cuadrado.append(num ** 2)       # acción

print(cuadrado)

# COMPREHENSION LIST:  1 bucle for
lista_cuadrado = [num**2     for num in lista]
#                 acción      iteración
print(lista_cuadrado)

[4, 2025, 4489, 529]
[4, 2025, 4489, 529]

In [409]:
# 10. Crea una lista nueva donde tengamos el resto de la división de cada uno de los números entre 2.
lista = [2,45,67,23]

lista_resto = []
for i in lista:                       # iteración
    resto = i%2                       # acción
    lista_resto.append(resto)

print(lista_resto)

# COMPREHENSION LIST:  1 bucle for     acción - iteración
resto_lista = [i%2 for i in lista]
print(resto_lista)

[0, 1, 1, 1]
[0, 1, 1, 1]

In [413]:
# 13. Crea una lista donde tengamos los valores "par" e "impar" 
# en función de los valores de la lista original.
lista = [2,45,67,23,44]

lista_p_i = []
for i in lista:                   # iteración
    if i%2 == 0:                  # CONDICIÓN 1
        lista_p_i.append('par')   # acción 1
    else:                         # CONDICIÓN 2
        lista_p_i.append('impar') # acción 2
print(lista_p_i)

## COMPREHENSION LIST: if          ación - iteración - condición     (con 1 solo if)
#                                  acción 1 - CONDICIÓN1 - CONDICIÓN 2 - acción 2 - iteración
p_i_lista = ['par'     if i%2==0     else 'impar'     for i in lista ]
print(p_i_lista)

['par', 'impar', 'impar', 'impar', 'par']
['par', 'impar', 'impar', 'impar', 'par']

### while: estructura de iteración (loops)

12. Inicia la variable `ahorros` con un valor de 5.
- Crea un bucle while que:
    - mientras los ahorros sean igual o menor que 20 imprima por pantalla la cantidad de ahorros que tenemos
    - y añádele 5 más
- Cuando la variable ahorros supere el valor de 20 el bucle deberá parar.

In [ ]:
ahorros = 5

while ahorros <= 20:
    print(f"Los ahorros que tenemos son {ahorros}")
    ahorros += 5

Los ahorros que tenemos son 5
Los ahorros que tenemos son 10
Los ahorros que tenemos son 15
Los ahorros que tenemos son 20

In [ ]:
# 1. Descripción: Utiliza un bucle while para calcular la suma de los primeros 10 números naturales 
# (1 + 2 + 3 + ... + 10).

num= 1
suma = 0
while num <= 10:
    suma = suma + num    # => suma += num 
    num = num + 1        # => num += 1

print("La suma de los primeros 10 números naturales es:", suma)

La suma de los primeros 10 números naturales es: 55

In [ ]:
#2. Crea un juego de adivinanza en el que el jugador tiene que adivinar un número secreto 
# (tendrá que ser entre el 0 y el 10). 
# Utiliza un bucle while para permitir múltiples intentos hasta que el jugador adivine correctamente.

numero_secreto = 3
intentos = 0
adivinado = False

while not adivinado:
    #intento = int(input("Adivina el número secreto (tienes 5 intentos): "))
    intentos += 1

    if intento not in [0,1,2,3,4,5,6,7,8,9,10]:
        print("El número no es válido.")

    else:
        if intento == numero_secreto:
            print("¡Felicitaciones! Adivinaste el número secreto en", intentos, "intentos.")
            adivinado = True

        elif intentos < 5:
            print("Número incorrecto. Intenta nuevamente.")

        elif intentos == 5:
            print("Ya no tienes más intentos!")
            break

¡Felicitaciones! Adivinaste el número secreto en 1 intentos.

13. Escribe un programa que convierta grados Celsius a grados Fahrenheit o viceversa, según la elección del usuario.  
Para eso tendrás que preguntar:
- Desde que unidades va a convertir la temperatura, Celsius o Fahrenheit.
- Cuál es valor de la temperatura que quiere convertir.

In [ ]:
# SOLUCIÓN PROFES

# Bucle para asegurarnos de que el usuario escribe una unidad válida
unidad = ""
while unidad != "C" and unidad != "F":
    # unidad = input("¿Desde qué unidad quieres convertir? (C para Celsius, F para Fahrenheit): ").upper()

# Pedimos la temperatura a convertir
# temperatura = float(input("Introduce la temperatura que quieres convertir: "))

# Hacemos la conversión
if unidad == "C":
    resultado = (temperatura * 9/5) + 32 # convertimos a farenhait
    print(f"{temperatura} grados Celsius son {resultado} grados Fahrenheit.")
else:
    resultado = (temperatura - 32) * 5/9 # convertimos a celsius
    print(f"{temperatura} grados Fahrenheit son {resultado} grados Celsius.")

IndentationError: expected an indented block after 'while' statement on line 5 (3424342953.py, line 12)

In [ ]:
# solución PAIR

# unidad_temperatura = input(f'¿Desde qué unidades va a convertir la temperatura? (Celsius, Fahrenheit)')
unidad_temperatura= unidad_temperatura.capitalize()

# valor_temperatura = float(input('¿Cuál es el valor de la temperatura que quiere convertir?'))

if unidad_temperatura == 'Celsius':
    conversión_a_fahrenheit = (valor_temperatura * 9/5) + 32
    print(f'La unidad seleccionada es: {unidad_temperatura}')
    print(f'La temperatura en Celsius es: {valor_temperatura}')
    print(f'La conversión a Fahrenheit es: {conversión_a_fahrenheit}')
elif unidad_temperatura == 'Fahrenheit':
    conversión_a_celsius = (valor_temperatura - 32) * 5/9
    print(f'La unidad seleccionada es: {unidad_temperatura}')
    print(f'La temperatura en Fahrenheit es: {valor_temperatura}')
    print(f'La conversión a Celsius es: {conversión_a_celsius}')
else:
    print('La temperatura no está escrita de forma correcta. Inténtelo de nuevo.')

La temperatura no está escrita de forma correcta. Inténtelo de nuevo.

### try/except: estructura de control en bucles

15. Crea un programa que evalúe el nivel de contaminación del aire en función de la concentración de partículas en suspensión (PM2.5) en microgramos por metro cúbico (µg/m³). Para eso deberás:

- Solicita al usuario que ingrese la concentración de PM2.5 en el aire en µg/m³. El usuario debe ingresar un valor numérico.

- Evalúa el nivel de contaminación del aire según la siguiente escala:

    - Si la concentración de PM2.5 es menor o igual a 12 µg/m³, el aire se considera "Excelente".

    - Si la concentración de PM2.5 está entre 13 µg/m³ y 35 µg/m³, el aire se considera "Bueno".

    - Si la concentración de PM2.5 está entre 36 µg/m³ y 55 µg/m³, el aire se considera "Aceptable".

    - Si la concentración de PM2.5 está entre 56 µg/m³ y 150 µg/m³, el aire se considera "No Saludable para Grupos Sensibles".

    - Si la concentración de PM2.5 es mayor a 150 µg/m³, el aire se considera "No Saludable".

- Muestra un mensaje indicando el estado de la calidad del aire. Por ejemplo, si la concentración de PM2.5 es 25 µg/m³, el programa debe mostrar: "La calidad del aire es Buena".

- Además, si la concentración de PM2.5 está en la categoría "No Saludable para Grupos Sensibles" o "No Saludable", el programa debe advertir al usuario sobre los posibles efectos en la salud.

- Si la concentración ingresada por el usuario es negativa o no es un número válido, el programa debe mostrar un mensaje de error.

In [ ]:
print('Nivel de contaminación del aire')
# conc_usuario = float(input('Por favor, ingrese la concentración de PM2.5 en el aire en µg/m³'))

if conc_usuario <= 12:
    print('Excelente')
elif 13 <= conc_usuario <= 35:
    print('Bueno')
elif 36 <= conc_usuario <= 55:
    print('Aceptable')
elif 56 <= conc_usuario <= 150:
    print('No Saludable para Grupos Sensibles')
else:
    print('No Saludable')

Nivel de contaminación del aire
No Saludable

In [ ]:
# Solicita el ingreso de la concentración de PM2.5 al usuario
try:
    # concentracion_pm25 = float(input("Ingresa la concentración de PM2.5 en µg/m³: "))
except ValueError:
    print("Error: Debes ingresar un valor numérico válido.")
    exit()

# Evalúa el nivel de contaminación del aire
if concentracion_pm25 <= 12:
    calidad_aire = "Excelente"
elif 13 <= concentracion_pm25 <= 35:
    calidad_aire = "Buena"
elif 36 <= concentracion_pm25 <= 55:
    calidad_aire = "Aceptable"
elif 56 <= concentracion_pm25 <= 150:
    calidad_aire = "No Saludable para Grupos Sensibles"
else:
    calidad_aire = "No Saludable"

# Muestra el estado de la calidad del aire
print(f"La calidad del aire es: {calidad_aire}")

# Advierte sobre efectos en la salud si es necesario
if calidad_aire in ["No Saludable para Grupos Sensibles", "No Saludable"]:
    print("¡Advertencia! La exposición prolongada puede ser perjudicial para la salud.")

IndentationError: expected an indented block after 'try' statement on line 2 (3399577573.py, line 4)